
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: arial;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content:center  ;
        align-items: center;
        min-height:100vh ;
        background: #c5d5dceb;
    }
    h2{
        position: relative;
        font-size: 4em;
        letter-spacing: 30px;
        color:#f2f4f4;
        text-transform: uppercase;
        width: 98%;
        text-align: center;
        -webkit-box-reflect:below -6px linear-gradient(transparent, #0008);
         line-height: 0.8em;
         outline: none;
         animation:animate 5s linear infinite;}

         @keyframes animate
         {
        
            100%{
                color:#ffffffd1;
                
                text-shadow: 0 0 10px #03bcf4,
                0 0 20px #03bcf4a1,
                0 0 20px #03bcf499,
                0 0 10px #03bcf489,
                0 0 10px #03bcf489;
            }
        }
        footer{
            position: absolute;
            bottom: 3%;
        }
        footer a , footer{
            color: #3c879e;

        }
@media (max-width :480px){
    h2 {
        font-size: 28px;
        letter-spacing: 15px;
        left: 1%;

    }

}